    html {
        font-family: 'Nunito', sans-serif;
        font-family: 'Roboto', sans-serif;
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-color: var(--purple-1);
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    /*variables con paleta de colores*/
    
     :root {
        --black-1: #2E0249;
        --black-2: #000;
        --purple-1: #570A57;
        --purple-2: #A91079;
        --purple-3: #F806CC;
        --white: #fff;
    }
    /*CSS para top-part, logo, nav-bar, and search bar*/
    
    .header-container {
        display: flex;
        justify-content: space-evenly;
        height: 10%;
        overflow-x: hidden !important;
    }
    /*logo*/
    
    .header-logo {
        margin: 20px;
        font-weight: 900;
        color: var(--purple-3);
        font-size: 30px;
        letter-spacing: 2px;
    }
    /* search*/
    
    .header-search-bar {
        height: 30px;
        border-radius: 5px;
        border: none;
        margin: 25px 0 20px 20px;
        display: block;
    }
    
    .header-search-btn {
        border: var(--purple-1);
        background-color: var(--purple-2);
        height: 50px;
        width: 50px;
        margin-top: 15px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 10px;
    }
    /*burger menu*/
    
    .header-burger-menu {
        border: var(--purple-1);
        background-color: var(--purple-2);
        height: 50px;
        width: 50px;
        margin-top: 15px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    /*header-nav-bar*/
    
    .header-nav-bar {
        list-style: none;
        background-color: var(--purple-2);
        border-radius: 10px;
        height: 40%;
        padding: 20px 20px 20px 0;
        position: fixed;
        display: block;
        margin-right: -350px;
        margin-top: -5px;
    }
    
    .close-burger-menu {
        height: 30px;
        width: 30px;
        margin-left: 5.5rem;
        border: solid 2px var(--white);
        padding: 2px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    
    li {
        margin: 25px;
    }
    
    a {
        text-decoration: none;
        color: var(--white);
    }
    /* categories*/
    
    .section-category-container {
        margin: 10px;
        padding: 20px 10px 20px 20px;
        background-color: var(--purple-2);
        border-radius: 10px;
        list-style: none;
        letter-spacing: 2px;
        display: block;
    }
    
    .inactive {
        display: none;
    }
    
    .section-category-title {
        font-size: 30px;
        margin-left: 35px;
        color: var(--white);
        letter-spacing: 5px;
    }
    
    ul {
        padding: 0;
    }
    
    li {
        list-style: none;
    }
    
    .category-text {
        color: var(--white);
    }
    /*section, posters de peliculas*/
    
    .section-container {
        background-color: var(--black-1);
        padding: 10px;
        margin: 15px 20px 15px 20px;
        border-radius: 15px;
        height: auto;
        overflow-x: hidden !important;
    }
    
    .section-home-big-photo {
        margin: 10px;
    }
    
    .big-photo {
        width: 90%;
        border-radius: 15px;
        padding: 10px 10px 10px 5px;
        margin: 15px 15px 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-details {
        background-color: var(--purple-1);
        color: var(--white);
        display: flex;
        justify-content: space-evenly;
        padding: 10px 10px 10px 5px;
        margin: -27px 15px 15px 30px;
        width: 82%;
        border-radius: 0 0 15px 15px;
    }
    
    .section-star-score {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .section-star {
        height: 30px;
        width: 30px;
    }
    
    .section-save-btn {
        border: var(--purple-1);
        background-color: var(--purple-2);
        height: 40px;
        width: 40px;
        border-radius: 10px;
        margin-right: -20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-save {
        height: 20px;
        width: 20px;
    }
    /*trending section*/
    
    .section-title {
        font-size: 30px;
        margin-left: 35px;
        color: var(--purple-3);
        letter-spacing: 5px;
    }
    
    .section-trending-container {
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-x: hidden !important;
    }
    
    .section-trending-movies {
        height: 180px;
        width: 150px;
        margin: 15px 5px 15px 5px;
        border-radius: 10px;
    }
    
    .section-trending-button {
        color: var(--white);
        background-color: var(--purple-3);
        border: none;
        padding: 10px;
        border-radius: 10px;
        margin-left: 10rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    /*Movie details*/
    
    .movies-details-img {
        width: 90%;
        border-radius: 15px;
        padding: 10px 10px 10px 5px;
        margin: 15px 15px 15px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    
    .movie-details-fade {
        position: absolute;
        padding: 10px 20px;
        margin-right: 20px;
        margin-left: -10px;
        margin-top: -180px;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
        background-position: center;
        backdrop-filter: blur(2px);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        z-index: 100;
    }
    
    .movie-details-text {
        color: var(--white);
        margin-bottom: -35px;
    }
    
    .movie-detail-categories {
        padding: 8px 20px;
        background-color: var(--black-2);
        margin-right: -10px;
        margin-left: -10px;
        margin-bottom: -10px;
    }
    /*footer*/
    
    footer {
        width: 100vw;
        background-color: var(--black-1);
        margin-top: 40px;
        backdrop-filter: blur(5px);
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-title {
        font-size: 30px;
        margin-left: 35px;
        color: var(--purple-3);
        letter-spacing: 5px;
    }
    
    .footer-social-icons li {
        margin: 5px;
    }
    
    .footer-icon {
        height: 50px;
        width: 50px;
    }
    /* STYLES SPECIFIC TO FOOTER  */
    
    .footer .col {
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }
    
    .footer .col h1 {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-size: 12px;
        line-height: 17px;
        padding: 20px 0px 5px 0px;
        color: var(--purple-2);
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.250em;
    }
    
    .footer .col ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .footer .col ul li {
        color: var(--white);
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
        cursor: pointer;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
    }
    
    .social ul li {
        display: inline-block;
        padding-right: 5px !important;
    }
    
    .footer .col ul li:hover {
        color: #ffffff;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
    }
    
    .clearfix {
        clear: both;
    }
    
    @media only screen and (min-width: 1280px) {
        .contain {
            width: 1200px;
            margin: 0 auto;
        }
    }
    
    @media only screen and (max-width: 1139px) {
        .contain .social {
            width: 1000px;
            display: block;
        }
        .social h1 {
            margin: 0px;
        }
    }
    
    @media only screen and (max-width: 950px) {
        .footer .col {
            width: 33%;
        }
        .footer .col h1 {
            font-size: 14px;
        }
        .footer .col ul li {
            font-size: 13px;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .footer .col {
            width: 50%;
        }
        .footer .col h1 {
            font-size: 14px;
        }
        .footer .col ul li {
            font-size: 13px;
        }
    }
    
    @media only screen and (max-width: 340px) {
        .footer .col {
            width: 100%;
        }
    }